<nav class='navigation {{ modifier_class }}'>
  <ul>
	<li class='navigation__item'><a class='navigation__link' href='#'>Solutions</a></li>
	<li class='navigation__item'><a class='navigation__link' href='#'>About Us</a></li>
	<li class='navigation__item'><a class='navigation__link' href='#'>Contact</a></li>
  </ul>
</nav>