<div class="mx-form-item mx-form-item--inline">
  <div class="mx-form-item">
    <label class="mx-label mx-label--inline" for="input1{{ id }}">Input field</label>
    <input class="mx-input__text" type="text" id="input1{{ id }}">
  </div>
  <div class="mx-input__divider">OR</div>
  <div class="mx-form-item">
    <input class="mx-input__text" type="text" id="input2{{ id }}" placeholder="Other input" aria-label="Other input field">
  </div>
</div>
