<section class="mx-section--xl mx-background--alt mx-vertical-flow">
    <h2>Section Extra Large</h2>
    <p>Extra Large spacing at the section level. Use the <code>section--xl</code> class to apply this spacing to the outter section.</p>
    <a class="mx-link--more" href="#">Learn more</a>
</section>
<section class="mx-section--l mx-vertical-flow">
    <h2>Section Large</h2>
    <p>Large spacing at the section level. Use the <code>section--l</code> class to apply this spacing to the outter section.</p>
    <a class="mx-link--more" href="#">Learn more</a>
</section>
<section class="mx-section--m mx-background--alt mx-vertical-flow">
    <h2>Section Medium</h2>
    <p>Medium spacing at the section level. Use the <code>section--m</code> class to apply this spacing to the outter section.</p>
    <a class="mx-link--more" href="#">Learn more</a>
</section>
<section class="mx-section--s mx-vertical-flow">
    <h2>Section Small</h2>
    <p>Small spacing at the section level. Use the <code>section--s</code> class to apply this spacing to the outter section.</p>
    <a class="mx-link--more" href="#">Learn more</a>
</section>
