{% set baseClass = 'mx-table' %}
{% set classes = [] %}
{% for modifier in modifiers %}
  {% set classes = classes|merge([baseClass~"--"~modifier]) %}
{% endfor %}
{% set attributes = (attributes ?? create_attribute()).addClass(classes) %}

<table{{ attributes }}>
  <thead>
    <tr>
      <th>Type</th>
      <th>Desktop</th>
      <th>Tablet</th>
      <th>Mobile</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Columns</th>
      <td>12</td>
      <td>12</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Gutter</th>
      <td>32px</td>
      <td>16px</td>
      <td>16px</td>
    </tr>
    <tr>
      <th>Max-width</th>
      <td>1180px</td>
      <td>1024px</td>
      <td>~500px</td>
    </tr>
  </tbody>
  <caption>Description of table</caption>
</table>
