@layer design-system.defaults {
  hr {
    display: block;
    block-size: 0;
    border: 0;
    border-block-start: var(--line-width, 1px) solid var(--line-colour, var(--colour-border));
    margin-block: var(--line-gap, var(--spacing-m));
  }
}
