// sass-lint:disable no-important

// Visually hidden
//
// Make an element visually hidden, but accessible to screen readers, etc.
//
// .visually-hidden--off        - Turns off the visually-hidden effect.
// .visually-hidden--focusable  - Makes an element visually hidden by default,
//                                but visible when receiving focus.
// .visually-hidden--focusable:focus  - A focused, and visible, element.
//
// Markup: visually-hidden.twig
//
// Style guide: 2.2

.visually-hidden,
%visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &--off,
  &.off {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }

  &--focusable,
  &.focusable {
    @extend %visually-hidden;

    &:active,
    &:focus {
      @extend %visually-hidden--off;
    }
  }
}
