/**
 * Container Grid
 * @todo update classes
 */
@layer design-system.layouts {
  .grid.container {
    --container-name: grid-item;

    @container grid-item (min-width: token("breakpoint.l")) {
      --grid-gap: var(--large-grid-gap, var(--gap-l));
    }

    &
      :is(
        .grid--11-col,
        .grid--10-col,
        .grid--9-col,
        .grid--8-col,
        .grid--7-col,
        .grid--6-col,
        .grid--5-col,
        .grid--4-col,
        .grid--3-col,
        .grid--2-col,
        .grid--1-col
      ) {
      --grid-repeat: 12;
      --grid-span: 12;
    }

    & .grid--11-col {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 11;
      }
    }

    & .grid--10-col {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 10;
      }
    }

    & .grid--9-col {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 9;
      }
    }

    & .grid--8-col {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 8;
      }
    }

    & .grid--7-col {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 7;
      }
    }

    & .grid--6-col {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 6;
      }
    }

    & .grid--5-col {
      @container grid-item (min-width: token("breakpoint.s")) {
        --grid-span: 6;
      }

      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 5;
      }
    }

    & .grid--4-col {
      @container grid-item (min-width: token("breakpoint.s")) {
        --grid-span: 6;
      }

      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 4;
      }
    }

    & .grid--3-col {
      @container grid-item (min-width: token("breakpoint.s")) {
        --grid-span: 6;
      }

      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 3;
      }
    }

    & .grid--2-col {
      @container grid-item (min-width: token("breakpoint.s")) {
        --grid-span: 3;
      }

      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 2;
      }
    }

    & .grid--1-col {
      @container grid-item (min-width: token("breakpoint.s")) {
        --grid-span: 3;
      }

      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-span: 1;
      }
    }
  }
}

/**
 * Dynamic Container Grid
 */

@layer design-system.layouts {
  .grid.container {
    &:is(.grid--dynamic) {
      /* This doesn't play nice in Safari and isn't required, so we unset the container. */
      container-type: unset;
    }

    &:is(
      .grid--xs-2-cols,
      .grid--sm-2-cols,
      .grid--md-2-cols,
      .grid--md-3-cols,
      .grid--lg-3-cols,
      .grid--md-4-cols,
      .grid--lg-4-cols,
      .grid--xl-4-cols
    ) {
      --grid-repeat: 1;
    }

    &.grid--xs-2-cols {
      @container grid-item (min-width: token("breakpoint.xs")) {
        --grid-repeat: 2;
      }
    }

    &.grid--sm-2-cols {
      @container grid-item (min-width: token("breakpoint.s")) {
        --grid-repeat: 2;
      }
    }

    &.grid--md-2-cols {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-repeat: 2;
      }
    }

    &.grid--md-3-cols {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-repeat: 3;
      }
    }

    &.grid--lg-3-cols {
      @container grid-item (min-width: token("breakpoint.l")) {
        --grid-repeat: 3;
      }
    }

    &.grid--md-4-cols {
      @container grid-item (min-width: token("breakpoint.m")) {
        --grid-repeat: 4;
      }
    }

    &.grid--lg-4-cols {
      @container grid-item (min-width: token("breakpoint.l")) {
        --grid-repeat: 4;
      }
    }

    &.grid--xl-4-cols {
      @container grid-item (min-width: token("breakpoint.xl")) {
        --grid-repeat: 4;
      }
    }
  }
}
