<div class='search {{ modifier_class }}' role="search">
  <form>
    <input class='search__input' type='text' value='' placeholder='Search this site...'><button class='search__button' aria-label='Search'>{% include '../../../design/search.svg' %}</button>
  </form>
</div>
